# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare binary files to avoid accidental normalization
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary